header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
}
body{
    background:linear-gradient(#6C7F91,#1EB2F7,#41567A) ;
}
dt{ 
    display: flex;
}
dl{
    padding: 10px;
    margin: 15px;
}
section{
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    
}

footer{
    display: flex;
    justify-content: center;
}
.card{
    margin:40px
    
}
dt a{
    text-decoration: none;
    color: #000000;
}
dl:hover{
    animation: 1.6s;
    scale: 0.8;
}
button{
    padding: 16px;
    border-radius: 5px;

}

button a {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
}

@media(max-width:1024px){
    section{
        justify-content: center;
    }
    .card{
        margin: 15px 20px ;
        padding: 100px;
        width:500px;
        
    }
    .title{
        font-family:"Chela One", system-ui;;
    }
    ol li{
        font-size: 24px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
  
    header{
        margin-bottom: 20px;
        font-size: 25px;
        color: #fff;
    }
    dl a {
        color: #fff;
        font-weight: bolder;
    }
    
}